@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
/* global styles */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Ubuntu", sans-serif;
}
body {
  background: #161840;
  color: #ededf1;
  display: flex;
  max-width: 2000px;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
}
main {
  width: 100%;
  padding: 30px;
}
section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
button {
  padding: 5px 7px;
  border-radius: 5px;
  border: none;
  background: none;
  cursor: pointer;
}
h2.secondary-heading {
  font-size: 1.3rem;
  letter-spacing: 1px;
}
.card {
  background: #1e1f58;
  border-radius: 18px;
  padding: 15px;
}
.card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
/* sibar styles */
.sidebar {
  min-width: 250px;
  background: #1e1f58;
  padding: 30px;
}
.link-list {
  list-style: none;
  margin-bottom: 20px;
}
.link-list a {
  text-decoration: none;
  color: #4b4da8;
  display: flex;
  align-items: center;
  padding: 7px 12px;
  border-radius: 8px;
}
.link-list a.active,
.link-list a:hover {
  color: #ededf1;
  background: #161840;
  margin-left: 30px;
}
.link-list img {
  margin-right: 10px;
  width: 24px;
}

/* main section styles */
.masthead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.masthead button {
  color: #ededf1;
}
button.user {
  display: flex;
  align-items: center;
}
button.user img {
  margin-right: 10px;
}
.credit-card {
  background: linear-gradient(104.45deg, #1175f6 -45.92%, #161840 100%);

  /* border: 1px solid rgba(255, 255, 255, 0.05); */
  border-radius: 24px;
  padding: 15px 20px;
  /* height: 200px; */
  width: 300px;
  font-family: 300;
  font-size: 1.1rem;
}
.credit-card p {
  padding: 5px 0;
}
p.pin {
  padding: 20px 0;
  font-weight: 700;
  letter-spacing: 3px;
}
.card-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ring {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
}
.r__1 {
  background: #8fc3fa;
  z-index: 2;
}
.r__2 {
  background: #a32eb3;
  position: relative;
  left: -15px;
  z-index: 1;
}
.transact,
.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.transact img,
.list img {
  margin-right: 10px;
}
.transact p,
.list p {
  flex: 1;
  text-align: right;
}
.transact small,
.budget small {
  color: #4b4da8;
}
.red {
  color: #be3852;
}
.green {
  color: #91b948;
}
.amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #1175f6;
  padding: 10px 0;
}
.budget {
  grid-row: 2/5;
}
.subscriptions h4 {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-body p {
  padding: 10px 0;
}
img.progress {
  width: 105px;
}
